{% extends '_base.html' %}

{% block content %}
		<table>
			<tr>
				<td><strong>Secretary:&nbsp;</strong></td>
				<td>Dean Smith</td>
			</tr>
			<tr>
				<td><strong>Address:&nbsp;</strong></td>
				<td>75 Melmerby Court, Eccles New Road, Salford M5 4UP</td>
			</tr>
			<tr>
				<td><strong>Tel, General:&nbsp;</strong></td>
				<td>07519 909140</td>
			</tr>
			<tr>
				<td><strong>Tel, Sunday AM:&nbsp;</strong></td>
				<td>07519 909140</td>
			</tr>
			<tr>
				<td><strong>Email:&nbsp;</strong></td>
				<td><a href="mailto:deanandrewsmith92@gmail.com">deanandrewsmith92@gmail.com</a></td>
			</tr>
			<tr>
				<td><strong>Home Colours:&nbsp;</strong></td>
				<td>Green and black shirts, black shorts and socks</td>
			</tr>
				<td><strong>Away Colours:&nbsp;</strong></td>
				<td>Sky blue shirts, black shorts and socks</td>
			</tr>
				<td><strong>Home Ground:&nbsp;</strong></td>
				<td>Firgrove Playing Fields, Rochdale, OL16 3AY</td>
			</tr>
				<td><strong>County FA No.:&nbsp;</strong></td>
				<td>W-MAN 3082</td>
			</tr>
		</table>

{% endblock content %}