{% extends '_base.html' %}
{% load static %}

{% block content %}

<section class="bg-primary-sam page-title">
	<div class="container container--narrow">
        <h2 class="text-center">ESTABLISHED 2020</h2>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="split">
            <div>
                <p>Following a succesful debut season in the Rochdale, Bury, and District Sunday Football League Division Four, WSFC look forward to taking on teams in Division Two.</p>
            </div>
            <div>
                <p>Formed during the depths of the global pandemic, we have thouroughly enjoyed the challenge so far and found it a pleasure to compete in the RBDSFL.</p>
            </div>
            <div>
                <p>We play our home matches at Matthew Moss High School in Rochdale. We are proudly sponsored by DT Law Butchers, Altered Notion, and 01706.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary-sam">
    <div class="container">
        <div class="split">
            <div>
                <h2>Rochdale Heritage</h2>
                <p>We are based at Woolworths Sports and Social Club in Castleton, which was built for the workers of the former shopping chain. So yes, like the shop!</p>
            </div>
            <div>
                <img src="{% static 'img/celebrate.jpg' %}" alt="squad pic">
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="split">
            <div>
                <img src="{% static 'img/ball.jpeg' %}" alt="squad pic">
            </div>
            <div style="padding-top: 15px">
                <h2>A succesful debut</h2>
                <p>We finished in second place in a close fought battle for Division 4 in 2020/21. We hope to go one better in 2021/22.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}