{% extends '_base.html' %}
{% load static %}

{% block content %}

<section class="bg-primary-sam page-title">
	<div class="container container--narrow">
        <h2 class="text-center">ESTABLISHED 2020</h2>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="split">
            <div>
                <p>Following a succesful debut season in the Rochdale, Bury, and District Sunday Football League Division Four, WSFC look forward to taking on teams in Division Two.</p>
            </div>
            <div>
                <p>Formed during the depths of the global pandemic, we have thouroughly enjoyed the challenge so far and found it a pleasure to compete in the RBDSFL.</p>
            </div>
            <div>
                <p>We play our home matches at Matthew Moss High School in Rochdale. We are proudly sponsored by DT Law Butchers, Altered Notion, and 01706.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary-sam">
    <div class="container">
        <div class="split">
            <div>
                <h2>A great bunch of lads</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis vero, voluptatem nulla non pariatur quod!</p>
            </div>
            <div>
                <img src="{% static 'img/celebrate.jpg' %}" alt="squad pic">
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="split">
            <div>
                <img src="{% static 'img/ball.jpeg' %}" alt="squad pic">
            </div>
            <div>
                <h2>Created with care</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo minima eum distinctio.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}