{% extends '_base.html' %}
{% load static %}


{% block content  %}

<section class="bg-dark">
    <div class="container text-center">
        <h2 style='color: white'>Fixtures and Results</h2>
        {% for match in list_of_matches %}
              <li>{{ match.home_team }} {{ match.home_score }} - {{ match.away_score }} {{ match.away_team }}</li>
        {% endfor %}
    </div>
</section>

<section class="bg-primary-sam">
    <div class="container">
        <div class="split">
            <div>
                <h2>A great bunch of lads</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis vero, voluptatem nulla non pariatur quod!</p>
            </div>
            <div>
                <img src="{% static 'img/ball.jpeg' %}" alt="squad pic">
            </div>
        </div>
    </div>
</section>

<section class="bg-primary">
    <div class="container">
        <div class="split">
            <div>
                <img src="{% static 'img/celebrate.jpg' %}" alt="squad pic">
            </div>
            <div>
                <h2>Created with care</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo minima eum distinctio.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content  %}