{% extends '_base.html' %}
{% load static %}


{% block content  %}

<section class="bg-primary-sam page-title">
	<div class="container container--narrow">
		<h2 class="text-center">Fixtures & Results</h2>
	</div>
</section>

<section class="bg-dark">
    <div class="container text-center">
        {% for match in list_of_matches reversed %}
              <b>{{ match.match_date|date:"j N" }} - {{ match.home_team }} {{ match.home_score }} - {{ match.away_score }} {{ match.away_team }}</b>
              <p>{{ match.match_report|linebreaks }}</p>
              <hr>
        {% endfor %}
    </div>
</section>


{% endblock content  %}