{% extends '_base.html' %}

{% block content %}

<section class="bg-primary-sam page-title">
	<div class="container container--narrow">
		<h2 class="text-center">Match & Player Statistics</h2>
	</div>
</section>

<div class="bg-dark">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmLrFr442XTY8Yg0I8A_9s8hdttOwYxOQ1IjzUgNB3XNpS6o9rx3OIrlca_24SAk0NIDsreIR9oibN/pubhtml?widget=true&amp;headers=false">
        </iframe>
    </div>
</div>
{% endblock content %}